go.mod
go.sum
builds
icon
FyClip---Advanced-Clipboard-Manager.exe
fyclip-deb
fyclip
fyclip_1.1.0_amd64.deb
fyclip-x86_64.AppImage
FyClip.AppDir
bundled_icon.go
fyclip_setup.exe
fyclip_1.2.0_amd64.deb
fyclip_1.2.0_x86_64.AppImage
FyClip.tar.xz